ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.orderCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.deleteImg {
  border: 2px solid #caafa7;
  border-radius: 50px;
  width: 13px;
  padding: 2px;
}

.orderQuantity {
  display: flex;
  gap: 10px;
}
